@model AllUsersViewModel
@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div>
        <h2 style="font-weight:600;font-size:1.5rem;">Todos los usuarios registrados</h2>
    </div>
</div>
<br />
<h4>Usuarios generales</h4>
<div class="card" style="padding:1em;">
    <br />
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Sexo
                    </th>
                    <th>
                        Nacimiento
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Firstname</td>
                        <td>@user.Lastname</td>
                        <td>@user.Email</td>
                        <td>@user.Sex</td>
                        <td>@user.Birthdate</td>
                        <td></td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary" asp-controller="Admin" asp-action="MakeUserAdmin" asp-route-userId="@user.Id">Hacer administrador</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.Users.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Users.HasNextPage ? "disabled" : "";
        }
        

        <a asp-action="AllUsers"
          
           asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
    
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="AllUsers"
         
           asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
      
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>
