@model IEnumerable<Cita>
@{
    ViewData["Title"] = "Citas";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <h2><span style="margin-left:1em;">Ver mis citas</span></h2>
</div>
<br />
<div class="container-fluid">
    <div class="card">
        <div class="content">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span style="font-weight:600;">Fecha creada</span>
                            </th>
                            <th>
                                <span style="font-weight:600;">Descripción</span>
                            </th>
                            <th>
                                <span style="font-weight:600;">Estado</span>
                            </th>
                            <th>
                                <span style="font-weight:600;">Doctor asignado</span>
                            </th>
                            <th>
                                <span style="font-weight:600;">Fecha asignada</span>
                            </th>
                            <th>
                                <span style="font-weight:600;">Acciones</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model)
                        {
                            <tr>
                                <td>@c.DateRequested</td>
                                <td>@c.Description</td>
                                <td>@c.Status</td>
                                <td>@c.DoctorId</td>
                                <td>@c.DateProposed</td>
                                <td>
                                    <a asp-controller="Citas" asp-action="Update" asp-route-id="@c.CitaId" class="btn btn-primary btn-sm">Modificar</a>
                                    <button onclick="PreDeleteCita(@c.CitaId)" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">
                                        Eliminar
                                    </button>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="footer">
                <hr />
                <div class="stats">
                    @Model.Count() citas en total.
                </div>
            </div>
        </div>
    </div>
</div>

