@model Cemeraf.ViewModels.UpdateCitaViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Agendar cita</h2>
<hr />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span style="font-weight:600;">Fecha creada</span>
                            </th>
                            <th>
                                <span style="font-weight:600;">Descripción</span>
                            </th>
                            <th>
                                <span style="font-weight:600;">Fecha propuesta</span>
                            </th>
                            <th>
                                <span style="font-weight:600;">Doctor</span>
                            </th>
                            <th>
                                <span style="font-weight:600;">Paciente</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.DateCreated
                            </td>
                            <td>
                                @Model.Description
                            </td>
                            <td>
                                @Model.DateProposed
                            </td>
                            <td>
                                @Model.Doctor.FullName
                            </td>
                            <td>
                                @Model.PacienteFullName
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<br />
<div class="row">
    <div class="col-m-4"></div>
    <div class="col-m-4">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <form>
                    <input type="hidden" value="" name="" />
                    <button type="submit" class="btn btn-primary btn-block" style="padding:2em;font-size:2rem;">DECLINAR</button>
                </form>
            </div>
            <div class="col-sm-3">
                <form>
                    <input type="hidden" value="" name="" />
                    <button type="submit" class="btn btn-secondary btn-block" style="padding:2em;font-size:2rem;">AGENDAR</button>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="col-m-4"></div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-sm-2">
        <div class="card" style="padding:2em;font-size:1.5rem;">
            <a asp-action="AllCitas" style="width:100%;height:auto;">
                <i class="fas fa-chevron-left"></i> <span style="padding-left:1em;">Cancelar</span>
            </a>
        </div>
    </div>
    <div class="col-sm-10"></div>
</div>

